In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('pyspark_fresh').getOrCreate()

In [2]:
from pyspark.sql import Row

In [3]:
import datetime
data= [{
    "id":1,
    "firstName":"Terry",
    "lastName":"Medhurst",
    "email":"atuny0@sohu.com",
    "phone":Row(phone_number = "+63 791 675 8914",mobile_number = "+63 791 675 8945"),
    "courses" : [1,2],
    "is_customer" : True,
    "amount_paid" : 10200,
    "customer_from" : datetime.date(2022,3,10),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":2,
    "firstName":"Sheldon",
    "lastName":"Quigley",
    "email":"hbingley1@plala.or.jp",
    "phone":Row(phone_number="+7 813 117",mobile_number="+7 813 119"),
    "courses" : [3],
    "is_customer" : True,
    "amount_paid" : 11000,
    "customer_from" : datetime.date(2022,5,16),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":3,
    "firstName":"Terrill",
    "lastName":"Hills",
    "email":"rshawe2@51.la",
    "phone":Row(phone_number="+63 739 292 7942",mobile_number="+63 739 292 7943"),
    "courses" : [2,4],
    "is_customer" : True,
    "amount_paid" : 24000,
    "customer_from" : datetime.date(2022,4,11),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":4,
    "firstName":"Miles",
    "lastName":"Cummerata",
    "email":"yraigatt3@nature.com",
    "phone":Row(phone_number=None,mobile_number=None),
    "courses" : [],
    "is_customer" : False,
    "amount_paid" : None,
    "customer_from" : None,
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":5,
    "firstName":"Mavis",
    "lastName":"Schultz",
    "email":"kmeus4@upenn.edu",
    "phone":Row(phone_number="+372 285 771 1911",mobile_number=None),
    "courses" : [],
    "is_customer" : False,
    "amount_paid" : None,
    "customer_from" : None,
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
}]

In [4]:
import pandas as pd

In [5]:
df = spark.createDataFrame(pd.DataFrame(data))

In [6]:
df.show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [7]:
help(df.select)

Help on method select in module pyspark.sql.dataframe:

select(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of expressions and returns a new :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : str, :class:`Column`, or list
        column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current :class:`DataFrame`.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with subset (or all) of columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

    Select all columns in the DataFrame.

    >>> df.select('*').show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+

    Select a column with other expressions in the DataFrame.

    >>> df.select(df.name, (df.age + 10).alias('age')).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice| 12|
    |  Bob| 15|
    +-----+---+

In [8]:
df.select('*').show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [9]:
df.select('id','firstName','email').show()

+---+---------+--------------------+
| id|firstName|               email|
+---+---------+--------------------+
|  1|    Terry|     atuny0@sohu.com|
|  2|  Sheldon|hbingley1@plala.o...|
|  3|  Terrill|       rshawe2@51.la|
|  4|    Miles|yraigatt3@nature.com|
|  5|    Mavis|    kmeus4@upenn.edu|
+---+---------+--------------------+

In [10]:
df.select(['id','firstName','email']).show()

+---+---------+--------------------+
| id|firstName|               email|
+---+---------+--------------------+
|  1|    Terry|     atuny0@sohu.com|
|  2|  Sheldon|hbingley1@plala.o...|
|  3|  Terrill|       rshawe2@51.la|
|  4|    Miles|yraigatt3@nature.com|
|  5|    Mavis|    kmeus4@upenn.edu|
+---+---------+--------------------+

In [11]:
# defining the alias to dataframe
df.alias('u').select('u.*').show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [12]:
df.alias('u').select('u.id','u.firstName','u.email').show()

+---+---------+--------------------+
| id|firstName|               email|
+---+---------+--------------------+
|  1|    Terry|     atuny0@sohu.com|
|  2|  Sheldon|hbingley1@plala.o...|
|  3|  Terrill|       rshawe2@51.la|
|  4|    Miles|yraigatt3@nature.com|
|  5|    Mavis|    kmeus4@upenn.edu|
+---+---------+--------------------+

In [14]:
from pyspark.sql.functions import col

In [16]:
df.select(col('id'),'firstName','email').show()

+---+---------+--------------------+
| id|firstName|               email|
+---+---------+--------------------+
|  1|    Terry|     atuny0@sohu.com|
|  2|  Sheldon|hbingley1@plala.o...|
|  3|  Terrill|       rshawe2@51.la|
|  4|    Miles|yraigatt3@nature.com|
|  5|    Mavis|    kmeus4@upenn.edu|
+---+---------+--------------------+

In [17]:
from pyspark.sql.functions import col,concat,lit

In [18]:
df.select(col('id'),'firstName','lastName',concat(col('firstName'),lit(','),col('lastName')).alias('fullName')).show()

+---+---------+---------+---------------+
| id|firstName| lastName|       fullName|
+---+---------+---------+---------------+
|  1|    Terry| Medhurst| Terry,Medhurst|
|  2|  Sheldon|  Quigley|Sheldon,Quigley|
|  3|  Terrill|    Hills|  Terrill,Hills|
|  4|    Miles|Cummerata|Miles,Cummerata|
|  5|    Mavis|  Schultz|  Mavis,Schultz|
+---+---------+---------+---------------+

## pyspark DataFrame selectExpr

In [19]:
df.selectExpr('*').show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [21]:
df.selectExpr('id','firstName','lastName').show()

+---+---------+---------+
| id|firstName| lastName|
+---+---------+---------+
|  1|    Terry| Medhurst|
|  2|  Sheldon|  Quigley|
|  3|  Terrill|    Hills|
|  4|    Miles|Cummerata|
|  5|    Mavis|  Schultz|
+---+---------+---------+

In [22]:
df.selectExpr(['id','firstName','lastName']).show()

+---+---------+---------+
| id|firstName| lastName|
+---+---------+---------+
|  1|    Terry| Medhurst|
|  2|  Sheldon|  Quigley|
|  3|  Terrill|    Hills|
|  4|    Miles|Cummerata|
|  5|    Mavis|  Schultz|
+---+---------+---------+

In [23]:
df.alias('u').selectExpr('u.*').show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [25]:
df.selectExpr('id','firstName','lastName',"concat(firstName,',',lastName) AS fullName").show()

+---+---------+---------+---------------+
| id|firstName| lastName|       fullName|
+---+---------+---------+---------------+
|  1|    Terry| Medhurst| Terry,Medhurst|
|  2|  Sheldon|  Quigley|Sheldon,Quigley|
|  3|  Terrill|    Hills|  Terrill,Hills|
|  4|    Miles|Cummerata|Miles,Cummerata|
|  5|    Mavis|  Schultz|  Mavis,Schultz|
+---+---------+---------+---------------+

In [27]:
df.createOrReplaceTempView('users')

In [29]:
spark.sql("""
    select id,firstName,lastName,
    concat(firstName,',',lastName) AS fullName
    FROM users
""").show()

+---+---------+---------+---------------+
| id|firstName| lastName|       fullName|
+---+---------+---------+---------------+
|  1|    Terry| Medhurst| Terry,Medhurst|
|  2|  Sheldon|  Quigley|Sheldon,Quigley|
|  3|  Terrill|    Hills|  Terrill,Hills|
|  4|    Miles|Cummerata|Miles,Cummerata|
|  5|    Mavis|  Schultz|  Mavis,Schultz|
+---+---------+---------+---------------+

In [30]:
help(df.selectExpr)

Help on method selectExpr in module pyspark.sql.dataframe:

selectExpr(*expr: Union[str, List[str]]) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of SQL expressions and returns a new :class:`DataFrame`.

    This is a variant of :func:`select` that accepts SQL expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with new/old columns transformed by expressions.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
    >>> df.selectExpr("age * 2", "abs(age)").show()
    +---------+--------+
    |(age * 2)|abs(age)|
    +---------+--------+
    |        4|       2|
    |       10|       5|
    +---------+--------+