In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('pyspark_fresh').getOrCreate()

In [2]:
from pyspark.sql import Row

In [3]:
import datetime
data= [{
    "id":1,
    "firstName":"Terry",
    "lastName":"Medhurst",
    "email":"atuny0@sohu.com",
    "phone":Row(phone_number = "+63 791 675 8914",mobile_number = "+63 791 675 8945"),
    "courses" : [1,2],
    "is_customer" : True,
    "amount_paid" : 10200,
    "customer_from" : datetime.date(2022,3,10),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":2,
    "firstName":"Sheldon",
    "lastName":"Quigley",
    "email":"hbingley1@plala.or.jp",
    "phone":Row(phone_number="+7 813 117",mobile_number="+7 813 119"),
    "courses" : [3],
    "is_customer" : True,
    "amount_paid" : 11000,
    "customer_from" : datetime.date(2022,5,16),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":3,
    "firstName":"Terrill",
    "lastName":"Hills",
    "email":"rshawe2@51.la",
    "phone":Row(phone_number="+63 739 292 7942",mobile_number="+63 739 292 7943"),
    "courses" : [2,4],
    "is_customer" : True,
    "amount_paid" : 24000,
    "customer_from" : datetime.date(2022,4,11),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":4,
    "firstName":"Miles",
    "lastName":"Cummerata",
    "email":"yraigatt3@nature.com",
    "phone":Row(phone_number=None,mobile_number=None),
    "courses" : [],
    "is_customer" : False,
    "amount_paid" : None,
    "customer_from" : None,
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":5,
    "firstName":"Mavis",
    "lastName":"Schultz",
    "email":"kmeus4@upenn.edu",
    "phone":Row(phone_number="+372 285 771 1911",mobile_number=None),
    "courses" : [],
    "is_customer" : False,
    "amount_paid" : None,
    "customer_from" : None,
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
}]

In [4]:
import pandas as pd

In [5]:
df = spark.createDataFrame(pd.DataFrame(data))

In [6]:
df.show()

+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|               email|               phone|courses|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|       true|    10200.0|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|       true|    11000.0|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|       true|    24000.0|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|      false|        NaN|         null|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|      false|        NaN|         null|2023-10-20 15:00:45|
+---+---------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [7]:
required_columns = ['id','firstName','lastName','email','phone','courses']

targeted_columns = ['user_id','user_first_name','user_last_name','user_email','user_phone','enrolled_courses']

- Get the data from required columns and rename the columns to new names as per target column names.
- We should be able to use select to get the data from required columns.
- We should be able to rename the columns using toDF
- select and toDF takes variable number of arguments. We can use *required_columns while invoking select to get the data from required columns.
It is applicable for toDF as well.

In [8]:
help(df.toDF)

Help on method toDF in module pyspark.sql.dataframe:

toDF(*cols: str) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` that with new specified column names

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    *cols : tuple
        a tuple of string new column name. The length of the
        list needs to be the same as the number of columns in the initial
        :class:`DataFrame`

    Returns
    -------
    :class:`DataFrame`
        DataFrame with new column names.

    Examples
    --------
    >>> df = spark.createDataFrame([(14, "Tom"), (23, "Alice"),
    ...     (16, "Bob")], ["age", "name"])
    >>> df.toDF('f1', 'f2').show()
    +---+-----+
    | f1|   f2|
    +---+-----+
    | 14|  Tom|
    | 23|Alice|
    | 16|  Bob|
    +---+-----+

In [9]:
df.select(required_columns).show()

+---+---------+---------+--------------------+--------------------+-------+
| id|firstName| lastName|               email|               phone|courses|
+---+---------+---------+--------------------+--------------------+-------+
|  1|    Terry| Medhurst|     atuny0@sohu.com|{+63 791 675 8914...| [1, 2]|
|  2|  Sheldon|  Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|    [3]|
|  3|  Terrill|    Hills|       rshawe2@51.la|{+63 739 292 7942...| [2, 4]|
|  4|    Miles|Cummerata|yraigatt3@nature.com|        {null, null}|     []|
|  5|    Mavis|  Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|     []|
+---+---------+---------+--------------------+--------------------+-------+

In [10]:
df.\
select(required_columns).\
toDF(targeted_columns).show()

IllegalArgumentException: requirement failed: The number of columns doesn't match.
Old column names (6): id, firstName, lastName, email, phone, courses
New column names (1): [user_id, user_first_name, user_last_name, user_email, user_phone, enrolled_courses]

In [11]:
df.\
select(required_columns).\
toDF(*targeted_columns).show()

+-------+---------------+--------------+--------------------+--------------------+----------------+
|user_id|user_first_name|user_last_name|          user_email|          user_phone|enrolled_courses|
+-------+---------------+--------------+--------------------+--------------------+----------------+
|      1|          Terry|      Medhurst|     atuny0@sohu.com|{+63 791 675 8914...|          [1, 2]|
|      2|        Sheldon|       Quigley|hbingley1@plala.o...|{+7 813 117, +7 8...|             [3]|
|      3|        Terrill|         Hills|       rshawe2@51.la|{+63 739 292 7942...|          [2, 4]|
|      4|          Miles|     Cummerata|yraigatt3@nature.com|        {null, null}|              []|
|      5|          Mavis|       Schultz|    kmeus4@upenn.edu|{+372 285 771 191...|              []|
+-------+---------------+--------------+--------------------+--------------------+----------------+