In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[1]').appName('pyspark_fresh').getOrCreate()

In [2]:
import datetime
data1= [{
    "id":1,
    "firstName":"Terry",
    "lastName":"Medhurst",
    "maidenName":"Smitham",
    "age":50,
    "gender":"male",
    "email":"atuny0@sohu.com",
    "phone":{"phone_number":"+63 791 675 8914","mobile_number":"+63 791 675 8915"},
    "is_customer" : True,
    "amount_paid" : 10200,
    "customer_from" : datetime.date(2022,3,10),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":2,
    "firstName":"Sheldon",
    "lastName":"Quigley",
    "maidenName":"Cole",
    "age":28,"gender":"male",
    "email":"hbingley1@plala.or.jp",
    "phone":{"phone_number":"+7 813 117","mobile_number":"+7 813 118"},
    "is_customer" : True,
    "amount_paid" : 11000,
    "customer_from" : datetime.date(2022,5,16),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":3,
    "firstName":"Terrill",
    "lastName":"Hills",
    "maidenName":"Hoeger",
    "age":38,
    "gender":"male",
    "email":"rshawe2@51.la",
    "phone":{"phone_number":"+63 739 292 7942","mobile_number":"+63 739 292 7943"},
    "is_customer" : True,
    "amount_paid" : 24000,
    "customer_from" : datetime.date(2022,4,11),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":4,
    "firstName":"Miles",
    "lastName":"Cummerata",
    "maidenName":"Maggio",
    "age":49,
    "gender":"male",
    "email":"yraigatt3@nature.com",
    "phone":{"phone_number":"+86 461 145 4186","mobile_number":"+86 461 145 4188"},
    "is_customer" : True,
    "amount_paid" : 10500,
    "customer_from" : datetime.date(2022,8,21),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":5,
    "firstName":"Mavis",
    "lastName":"Schultz",
    "maidenName":"Yundt",
    "age":38,
    "gender":"male",
    "email":"kmeus4@upenn.edu",
    "phone":{"phone_number":"+372 285 771 1911","mobile_number":"+372 285 771 1912"},
    "is_customer" : True,
    "amount_paid" : 10000,
    "customer_from" : datetime.date(2022,5,1),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
}]

In [3]:
import datetime
data= [{
    "id":1,
    "firstName":"Terry",
    "lastName":"Medhurst",
    "maidenName":"Smitham",
    "age":50,
    "gender":"male",
    "email":"atuny0@sohu.com",
    "phone":["+63 791 675 8914","+63 791 675 8915"],
    "is_customer" : True,
    "amount_paid" : 10200,
    "customer_from" : datetime.date(2022,3,10),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":2,
    "firstName":"Sheldon",
    "lastName":"Quigley",
    "maidenName":"Cole",
    "age":28,"gender":"male",
    "email":"hbingley1@plala.or.jp",
    "phone":["+7 813 117","+7 813 118"],
    "is_customer" : True,
    "amount_paid" : 11000,
    "customer_from" : datetime.date(2022,5,16),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":3,
    "firstName":"Terrill",
    "lastName":"Hills",
    "maidenName":"Hoeger",
    "age":38,
    "gender":"male",
    "email":"rshawe2@51.la",
    "phone":["+63 739 292 7942"],
    "is_customer" : True,
    "amount_paid" : 24000,
    "customer_from" : datetime.date(2022,4,11),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":4,
    "firstName":"Miles",
    "lastName":"Cummerata",
    "maidenName":"Maggio",
    "age":49,
    "gender":"male",
    "email":"yraigatt3@nature.com",
    "phone":["+86 461 145 4186","+86 461 145 4188"],
    "is_customer" : True,
    "amount_paid" : 10500,
    "customer_from" : datetime.date(2022,8,21),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
},
{
    "id":5,
    "firstName":"Mavis",
    "lastName":"Schultz",
    "maidenName":"Yundt",
    "age":38,
    "gender":"male",
    "email":"kmeus4@upenn.edu",
    "phone":["+372 285 771 1911","+372 285 771 1912"],
    "is_customer" : False,
    "amount_paid" : None,
    "customer_from" : datetime.date(2022,5,1),
    "last_update_ts" : datetime.datetime(2023,10,20, 15,0,45)
}]

In [4]:
from pyspark.sql import Row

In [9]:
user_rows = [Row(**user) for user in data]

In [10]:
spark.createDataFrame(user_rows).show()

+---+---------+---------+----------+---+------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|firstName| lastName|maidenName|age|gender|               email|               phone|is_customer|amount_paid|customer_from|     last_update_ts|
+---+---------+---------+----------+---+------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Terry| Medhurst|   Smitham| 50|  male|     atuny0@sohu.com|[+63 791 675 8914...|       true|      10200|   2022-03-10|2023-10-20 15:00:45|
|  2|  Sheldon|  Quigley|      Cole| 28|  male|hbingley1@plala.o...|[+7 813 117, +7 8...|       true|      11000|   2022-05-16|2023-10-20 15:00:45|
|  3|  Terrill|    Hills|    Hoeger| 38|  male|       rshawe2@51.la|  [+63 739 292 7942]|       true|      24000|   2022-04-11|2023-10-20 15:00:45|
|  4|    Miles|Cummerata|    Maggio| 49|  male|yraigatt3@nature.com|[+86 461 145 4186...|       true|      10500|   2022-08-21|2023-10-20 15:00:45|
|  5|    Mavis|  Schultz|     Yundt| 38|  male|    kmeus4@upenn.edu|[+372 285 771 191...|      false|       null|   2022-05-01|2023-10-20 15:00:45|
+---+---------+---------+----------+---+------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [11]:
df = spark.createDataFrame(user_rows)

In [12]:
df.dtypes

[('id', 'bigint'),
 ('firstName', 'string'),
 ('lastName', 'string'),
 ('maidenName', 'string'),
 ('age', 'bigint'),
 ('gender', 'string'),
 ('email', 'string'),
 ('phone', 'array<string>'),
 ('is_customer', 'boolean'),
 ('amount_paid', 'bigint'),
 ('customer_from', 'date'),
 ('last_update_ts', 'timestamp')]

In [13]:
df.select('id','phone').show(truncate=False)

+---+--------------------------------------+
|id |phone                                 |
+---+--------------------------------------+
|1  |[+63 791 675 8914, +63 791 675 8915]  |
|2  |[+7 813 117, +7 813 118]              |
|3  |[+63 739 292 7942]                    |
|4  |[+86 461 145 4186, +86 461 145 4188]  |
|5  |[+372 285 771 1911, +372 285 771 1912]|
+---+--------------------------------------+

In [ ]:
from pyspark.sql.functions import col

In [ ]:
df.select('id',col('phone')[0].alias('Mobile'),col('phone')[1].alias("Phone")).show()

In [ ]:
from pyspark.sql.functions import explode

In [ ]:
df.withColumn('phone_number',explode('phone')).drop('phone').show()

In [14]:
from pyspark.sql.functions import explode_outer

In [17]:
df.withColumn('phone_number',explode_outer('phone')).drop('phone').show()

+---+---------+---------+----------+---+------+--------------------+-----------+-----------+-------------+-------------------+-----------------+
| id|firstName| lastName|maidenName|age|gender|               email|is_customer|amount_paid|customer_from|     last_update_ts|     phone_number|
+---+---------+---------+----------+---+------+--------------------+-----------+-----------+-------------+-------------------+-----------------+
|  1|    Terry| Medhurst|   Smitham| 50|  male|     atuny0@sohu.com|       true|      10200|   2022-03-10|2023-10-20 15:00:45| +63 791 675 8914|
|  1|    Terry| Medhurst|   Smitham| 50|  male|     atuny0@sohu.com|       true|      10200|   2022-03-10|2023-10-20 15:00:45| +63 791 675 8915|
|  2|  Sheldon|  Quigley|      Cole| 28|  male|hbingley1@plala.o...|       true|      11000|   2022-05-16|2023-10-20 15:00:45|       +7 813 117|
|  2|  Sheldon|  Quigley|      Cole| 28|  male|hbingley1@plala.o...|       true|      11000|   2022-05-16|2023-10-20 15:00:45|       +7 813 118|
|  3|  Terrill|    Hills|    Hoeger| 38|  male|       rshawe2@51.la|       true|      24000|   2022-04-11|2023-10-20 15:00:45| +63 739 292 7942|
|  4|    Miles|Cummerata|    Maggio| 49|  male|yraigatt3@nature.com|       true|      10500|   2022-08-21|2023-10-20 15:00:45| +86 461 145 4186|
|  4|    Miles|Cummerata|    Maggio| 49|  male|yraigatt3@nature.com|       true|      10500|   2022-08-21|2023-10-20 15:00:45| +86 461 145 4188|
|  5|    Mavis|  Schultz|     Yundt| 38|  male|    kmeus4@upenn.edu|      false|       null|   2022-05-01|2023-10-20 15:00:45|+372 285 771 1911|
|  5|    Mavis|  Schultz|     Yundt| 38|  male|    kmeus4@upenn.edu|      false|       null|   2022-05-01|2023-10-20 15:00:45|+372 285 771 1912|
+---+---------+---------+----------+---+------+--------------------+-----------+-----------+-------------+-------------------+-----------------+